/* services.css */
.services {

  padding: 60px 20px;
  text-align: center;
  display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.servicesContent {
  max-width: 800px;
  margin: 0 auto;
}

.servicesTitle {
  font-family: 'Arial', sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.servicesDescription {
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  color: #666;
  line-height: 1.6;
}

@media (max-width: 1000px) {
  .services {
    flex-direction: column;
    text-align: left;
  }
}